.background-gradient {
    background-color: #E0DEDC;
}

.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}

.background-home {
    background-image: url('../../../images/v546batch3-mynt-31-badgewatercolor.jpg');
    background-size: cover
}
