.textarea {
    width: 100%;
    overflow: hidden;
    resize: none;
    min-height: 40px;
    line-height: 20px;
  }

.textarea[contentEditable]:empty::before {
    content: "Write a task name";
    color: gray;
}

.textarea::-webkit-scrollbar {
    display: none;
  }

.textarea-cards::-webkit-scrollbar {
    display: none;
  }

.textarea-cards {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.cardContainer::-webkit-scrollbar {
  display: none;
}

.gradient-bg {
  background: linear-gradient(180deg, #f5f3f3, rgba(245, 243, 243, 0) 100%);
  border-radius: 8px;
  height: 100%;
  margin-top: 10px;
}
